<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Angular 5 and Material 2 Sticky Footer Example
  </h1>
  <img width="300"
       src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
  <p>
    This demo was created with Material Version 2.0.0-beta.12.
  </p>



</div>
<ul>
  <li>
    <h2><a href="https://github.com/CanKattwinkel/material-2-sticky-footer-mat-sidenav" target="_blank"
           rel="noopener">You can find the source code at GitHub.</a></h2>
  </li>
  <li>
    <h2><a href="https://blog.thecodecampus.de/material-2-sticky-footer-mat-sidenav" target="_blank" rel="noopener">And
      the corresponding blog post can be found here.</a></h2>
  </li>
</ul>
