<mat-sidenav-container class="all-wrap">

  <mat-sidenav #sidenav over>
    <mat-list>
      <mat-list-item><mat-icon>code</mat-icon>&emsp;One</mat-list-item>
      <mat-list-item><mat-icon>code</mat-icon>&emsp;Two</mat-list-item>
      <mat-list-item><mat-icon>code</mat-icon>&emsp;Three</mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content class="page-wrap img-bg">

    <mat-toolbar>
      <mat-toolbar-row>
        <span>
          <mat-icon
            (click)="sidenav.open()"
          >menu</mat-icon>
        </span>
        <span><h1>Toolbar</h1></span>
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="info">
      <button mat-button (click)="sidenav.open()">Open sidenav</button>
    </div>

    <main class="content">
      <router-outlet></router-outlet>
    </main>

    <footer>
      <h2>Sticky Footer</h2>
    </footer>

  </mat-sidenav-content>

</mat-sidenav-container>

<!--<mat-sidenav-container class="all-wrap" fullscreen>-->
  <!--<mat-sidenav #sidenav>-->
    <!--<mat-list>-->
      <!--<mat-list-item [routerLink]="['/']"> Foo</mat-list-item>-->
      <!--<mat-list-item [routerLink]="['/bar']"> Bar</mat-list-item>-->
    <!--</mat-list>-->
  <!--</mat-sidenav>-->

  <!--<div class="page-wrap">-->
    <!--<header role="banner">-->
      <!--<mat-toolbar color="primary">-->
        <!--<button-->
          <!--type="button"-->
          <!--mat-icon-button-->
          <!--(click)="sidenav.open()"-->
          <!--title="Open sidenav">-->
          <!--<mat-icon>menu</mat-icon>-->
        <!--</button>-->
        <!--Your Toolbar-->
      <!--</mat-toolbar>-->
    <!--</header>-->
    <!--<main class="content">-->
      <!--<router-outlet></router-outlet>-->
    <!--</main>-->
    <!--<footer>-->
      <!--Your sticky footer with a variable height.-->
    <!--</footer>-->
  <!--</div>-->
<!--</mat-sidenav-container>-->
